
<% count = 1 %>
<% @friends.each do |f| %>
    <% if count=1 %>
        <div class="grid">
    <% end %>
    <div class="grid-item col-md-3">
      <% if f.avatar && f.avatar!='' %>
          <%= image_tag(f.avatar, class: "card-img-top", width: "150", height: "150") %>
      <% else %>
          <%= image_tag(asset_path("default_avatar.gif"), class: "card-img-top", width: "150", height: "150") %>
      <% end %>
      <div class="card-block">
        <h4 class="card-title"><%= f.name %></h4>
        <p class="card-text">
          <%= f.email %>
        </p>
        <% if (User.where("id NOT IN (?)", @user.friends.select(:id))).exists?(f.id) %>
            <%= link_to 'Make friends', friendships_create_path(id: f.id), class: "btn btn-success" %>
        <% else %>
            <%= link_to "Block", nil, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
    <% if count==1 %>

        </div>
    <% else if count == 4%>
            <% count = 1 %>
        <% end %>
        <% count = count+1 %>
    <% end %>
<% end %>